{
  "ConnectionStrings": {
    "DefaultConnection": ""
  },
  "Serilog": { 
    "MinimumLevel": {
      "Default": "Information",
      "Override": {
        "Microsoft": "Warning",
        "Microsoft.Hosting.Lifetime": "Information",
        "Microsoft.EntityFrameworkCore.Database.Command": "Warning" 
      }
    },
    "WriteTo": [
      { "Name": "Console" }
    ]
  },
  
  "Kestrel": {
    "Certificates": {
      "Default": {
        "Path": "certs/idp.orjnz.pfx", // you need to generate this
        "Password": ""
      }
    }
  },
  "OpenIddict": {
    "Certificates": {
        "Path": "certs/idp.orjnz.pfx",
        "Password": "" 
    }, 
    "Endpoints": {
      "Authorization": "/connect/authorize",
      "Token": "/connect/token",
      "Logout": "/connect/logout", 
      "Userinfo": "/connect/userinfo",
      "Introspection": "/connect/introspect",
      "Device": "/connect/device",
      "Verification": "/connect/verify",
      "Jwks": "/.well-known/jwks"
    }
  
  },
  "AllowedHosts": "*",
  "AllowedOrigins": {
    "NextJsClient": "http://localhost:3000"
  }
}